.container{
    justify-content: space-between;
}
.inp1{
    text-align: center;
    border-radius:10px;
    background-color: beige;
    width: 350px;
height: 50px;
}

.butn{
   border-color: black;
    margin-left: 130px;
border-radius: 10px;
margin-top: 5px;
}
.login{
    text-decoration: none;
    /* text-align: right; */
}
.dashul{
    display: flex;
 justify-content: space-between; 
 padding: 5px;
}
.dashdiv{
    padding: 20px;
    /* background-color:; */
    width: 500px;
    /* background-color:aliceblue; */
    margin-left: 100px;
margin-top: 50px;
}
