.indexcontain{
    justify-content: space-between;
}
.inp1{
    text-align: center;
    border-radius:10px;
    background-color: beige;
    width: 350px;
height: 50px;
}

.butn{
   border-color: black;
    margin-left: 130px;
border-radius: 10px;
margin-top: 5px;
}
.login{
    text-decoration: none;
    /* text-align: right; */
}
.dashul{
    display: flex;
 justify-content: space-between; 
 padding: 5px;
 align-items: center;
}

.dashdiv{
    padding: 20px;
    border-radius: 2%;
   
    width: 700px;
    background-color:rgb(73, 95, 115);
    margin-left: 100px;
margin-top: 50px;
}
.maindata{
    background-color:rgb(73, 95, 115);
    width: 500px;

margin-top: 2%;

border-radius: 2%;
/* justify-content: space-around; */
padding: 1%;
margin-left: 5%;
}
.profile{
    background-color:rgb(73, 95, 115);
    

}
.blogsdata{
    text-align: center;
    background-color:rgb(73, 95, 115);
    width: 500px;

margin-top: 2%;

border-radius: 2%;
justify-content: space-around;
padding: 1%;
margin-left: 32%;

}
/*  
#renderdata{
    
} */

#renderdatablog{

justify-content: center;
/* width: 700px; */
    
    margin-left: 50%;

}